<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <style>
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-gap: 10px;
    padding: 20px;
    }

    .user-card {
        padding: 10px;
     height: 200px;
     width: 200px;
    text-align: center;
    background-color: #612d8d;
    border-radius: 20px;
    color: white;
    font-size: larger;
    }
    .profilepic{
      height: 85%;
      background-color: white;
      border-radius: 15px;
      box-shadow: 5px black;
    }
  </style>
</head>
<body>
  <h1>User List</h1>
  <div class="grid-container">
    <% users.forEach(user => { %>
      <div class="user-card">
        <div class="profilepic">

        </div>
        <p><%= user.name %></p>
      </div>
    <% }); %>
  </div>
</body>
</html>
